<!doctype html>
<html lang="fr">
    <head profile="http://www.w3.org/2005/10/profile">
        <meta charset="utf-8">
        <title>Men's Derby Rennes</title>
        <base href="/">
        <link rel="icon" type="image/png" href="assets/favicon.png">
        
        <!-- build:css(./build) styles/styles.min.css -->
        <link rel="stylesheet" href="styles/style.css" />
        <!-- endbuild -->
        
        
        
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/fullpage.js/jquery.fullPage.css" />
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
        <!-- endbower -->
        <!-- endbuild -->
        
    </head>
    <body class="bonhommes">

        <div class="row" id="nav-up">
            <div class="col-lg-12 col-md-12 col-xs-12 text-center">
                <i class="fa fa-chevron-up up-button button" id="previous-button"></i>
            </div>
        </div>
        
        <ul id="menu" class="menu" style="display:none">
            <li data-menuanchor="firstPage"><a href="#firstPage">First slide</a></li>
            <li data-menuanchor="secondPage"><a href="#secondPage">Second slide</a></li>
            <li data-menuanchor="3rdPage"><a href="#3rdPage">Third slide</a></li>
            <li data-menuanchor="4thpage"><a href="#4thpage">Fourth slide</a></li>
        </ul>
        
        <div id="fullpage">
            <% include views/first.html %>
            <% include views/slogan.html %>
            <% include views/roster.html %>
        </div>

        <div class="row" id="nav-down">
            <div class="col-lg-12 col-md-12 col-xs-12 text-center">
                <i class="fa fa-chevron-down down-button button" id="next-button"></i>
            </div>
        </div>
        
        
        
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/fullpage.js/jquery.fullPage.js"></script>
    <script src="bower_components/fullpage.js/vendors/jquery.easings.min.js"></script>
    <script src="bower_components/fullpage.js/vendors/jquery.slimscroll.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/app.min.js -->    
    <script type="text/javascript" src="scripts/app.js"> </script>
    <!-- endbuild -->
    </body>
</html>